.container {
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    color: white;
    margin: 5px;
    padding: 5px;
    width: 100%;
    margin: 0 auto;
    img {
        padding: 10px;
    }
}

.setter {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 20%;
    label {
        color: white;
        margin: 10px;
        font-size: 1.1rem;
    }
    select {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 50%;
        width: 100px;
        border-radius: 10%;
        font-size: 1.4rem;
    }
    button {
        background-color: orangered;
        color: white;
        align-items: center;
        text-align: center;
        font-weight: bold;
        height: 50%;
        border-radius: 10%;
        margin: 10px;
    }
}