<div class="container">
    <div class="logo">
        <img src="../../assets/splendex-logo.svg">
    </div>
    <div class="setter">
        <label for="deck-size">Deck size:</label>
        <select name="deck-size">
        <option value="10">3 </option>
        <option value="15">4</option>
        <option value="20">5</option>
        <option value="20">6</option>
        <option value="20">7</option>
        <option value="20">8</option>
        <option value="20">9</option>
        <option value="20">10</option>
    </select>
        <button class="btn btn-primary">START NEW GAME </button>
    </div>
</div>