<div class="container">
    <img src="../../assets/splendex-logo.svg" class="logo">
    <div class="setter">
        <label for=" deck-size ">Deck size:</label>
        <select [(ngModel)]="sizeOfMatch">
            <option *ngFor=" let o of options " [value]="o.value">
            {{o.name}}
            </option>
        </select>
        <button class="btn btn-primary " (click)="getSize() " [state]=" {getCount: sizeOfMatch} " [routerLink]="[ '/reset'] ">START NEW GAME </button>
    </div>
</div>